#BlockTitle
{
background-color: #202020;
color: #FFFFFF;
}


#BlockBackground
{
background-color: #424242;
}


#BlockBorder
{
background-color: rgba(0, 0, 0, 0);
}


#BlockInput, #BlockOutput
{
background-color: #272727;
color: #FFFFFF;
}


#BlockInput:hover, #BlockOutput:hover
{
background-color: #424242;
}
